{% extends 'charisma/base_charisma.twig' %}
{% set hide_menus = true %}

{% block content %}

    <div class="row">
        <div class="col-md-12 center login-header">
            <h2>Welcome to Charisma</h2>
        </div>
        <!--/span-->
    </div><!--/row-->

    <div class="row">
        <div class="well col-md-5 center login-box">
            {% if auth_error %}
                <div class="alert alert-danger">
                {{ auth_error }}
            {% else %}
                <div class="alert alert-info">
                Please login with your Username and Password.
            {% endif %}

            </div>
            {# input names must be user_name, user_password #}
            <form class="form-horizontal" action="{{ constant('URL') }}login/authenticate" method="post">
                <fieldset>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                        <input type="text" name="user_name" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="password" name="user_password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="clearfix"></div>

                    <div class="input-prepend">
                        <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
                    </div>
                    <div class="clearfix"></div>

                    <p class="center col-md-5">
                        <button type="submit" name="login" class="btn btn-primary">Login</button>
                    </p>
                </fieldset>
            </form>
        </div>
        <!--/span-->
    </div><!--/row-->

{% endblock content %}
