{% extends '_templates/base.twig' %}
{% set breadcrumb_position = 'Ordine del giorno' %}

{% block content %}

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2><i class="glyphicon glyphicon-info-sign"></i>&nbsp;
                        HOME SWEET HOME
                    </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                class="glyphicon glyphicon-cog"></i></a>
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>

                <div class="row box-content">
                    <div class="col-lg-12 col-md-12">

                    </div>
                </div>

            </div>
        </div>
    </div>


{% block extra_admin %}
{% endblock extra_admin %}


{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}